@import "./variables";

// CONTAINERS
@mixin container($container_size: $extraLarge) {
  width: $container_size;
  display: block;
  margin: 0 auto;
}

// FLEX-BOX
@mixin flex(
  $flex_direction: column,
  $justify_content: center,
  $align_items: center
) {
  display: flex;
  flex-direction: $flex_direction;
  justify-content: $justify_content;
  align-items: $align_items;
}

// TEXT-STYLES

@mixin font(
  $font_size: 16px,
  $font_weight: 400,
  $line_height: 130%,
  $color_style: $textBlack
) {
  font-size: $font_size;
  font-weight: $font_weight;
  line-height: $line_height;
  color: $color_style;
}

@mixin h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: $textBlack;
}

@mixin p1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  color: $textBlack;
}

@mixin p2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  color: $textBlack;
}

@mixin h2-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
  color: $textBlack;
  text-align: center;
}

// COMPONENTS
@mixin primary-btn {
  min-width: 200px;
  height: auto;
  padding: 20px 40px;
  background-color: $bgBrand;
  @include p2;
  color: $textWhite;
  border-radius: 32px;
  border: none;
}
