// BG-COLORS
$bgMain: #f3f4f5;
$bgBrand: #ff5a1e;
$bgWhite: #fff;

// TEXT-COLORS
$textBlack: #2d2d2d;
$textGrey: #a8a8a8;
$textWhite: #fff;

// BREAKPOINTS
$breakPoint-extraLarge: 1200px;
$breakPoint-large: 992px;
$breakPoint-medium: 768px;
$breakPoint-small: 576px;
$breakPoint-extraSmall: 320px;
