@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: $bgMain;
  font-family: "Golos Text", sans-serif;
}

//  HEADER
.header {
  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0px 17px 24px 0px rgba(50, 52, 56, 0.04);
  backdrop-filter: blur(20px);
  display: block;
  margin: 40px auto 0 auto;
  width: 900px;
  height: auto;
  border-radius: 100px;
  padding: 16px 20px;

  &__menu {
    @include flex(row, space-between, center);
  }

  &__select {
    display: block;
    width: 170px;
    height: 48px;
    padding: 8px 12px;
    background-color: $bgWhite;
    border-radius: 100px;
    border: none;
  }

  &__select-elem {
    @include p1;
  }
}

//  HERO
.hero {
  margin-top: 60px;

  &__container {
    @include container($extraLarge);
  }

  &__wrapper {
    @include flex(row, space-between, center);
  }

  &__img-wrapper {
    max-width: 340px;
    max-height: 580px;
  }

  &__imgLeft,
  &__imgRight {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 4;
  }

  &__content {
    max-width: 870px;
    height: auto;
    @include flex(column, space-between, center);
    gap: 32px;
    z-index: 8;
  }

  &__title-h1 {
    @include h1;
  }

  &__subtitle {
    max-width: 500px;
    @include p2;
  }

  &__btn {
    @include primary-btn;
  }
}

//  ADVANTAGE
.advantage {
  margin-top: 130px;

  &__container {
    @include container($extraLarge);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 590px);
    grid-template-rows: repeat(2, 620px);
    gap: 32px;
  }

  &__card {
    width: 100%;
    height: 100%;
    padding: 40px 40px 0 40px;
    border-radius: 32px;
    background: $bgWhite;
    position: relative;
    @include flex(column, space-between, center);

    &_another {
      background: $bgBrand;
      padding-bottom: 40px;
    }
  }

  &__card-title {
    @include font(56px, 700, 100%, $textBlack);

    &_another {
      @include font(70px, 700, 100%, $textWhite);
    }
  }

  &__card-img {
    width: 470px;
    height: 340px;

    &_another {
      width: auto;
      height: auto;
    }

    &_positionLeft {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

//  FEEDBACKS
.feedbacks {
  margin-top: 130px;
  background: $bgDark;
  // width: 100vw;
  height: 1200px;
}

//  ABOUTAPP
.aboutApp {
  margin-top: 130px;
  height: auto;

  &__container {
    @include container($extraLarge);
  }

  &__h2-title {
    @include h2-title;
  }

  &__wrapper {
    @include flex(row, space-between, center);
    gap: 30px;
    margin-top: 56px;
  }

  &__card {
    background: $bgWhite;
    padding: 40px;
    border-radius: 32px;
    width: 380px;
    height: 380px;
  }

  &__card-img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 40px auto;
  }

  &__card-subtitle {
    @include font(36px, 700, 100%, $textBlack);
    text-align: center;
  }
}

//  MAKETRANSFER
.makeTransfer {
  margin-top: 130px;

  &__container {
    @include container($extraLarge);
  }

  &__h2-title {
    @include h2-title;
  }

  &__wrapper {
    margin-top: 56px;
    @include flex(row, space-between, flex-start);
    gap: 40px;
  }

  &__card {
    width: 580px;
    height: 780px;
    background: $bgWhite;
    border-radius: 32px;
    padding: 32px;

    &_another {
      @include flex(row, space-between, flex-start);
      height: 370px;
    }
  }

  &__card-title {
    @include font(32px, 700, 100%, $textBlack);
    margin-bottom: 16px;
  }

  &__card-subtitle {
    @include font(18px, 500, 130%, $textBlack);
    margin-bottom: 32px;
  }

  &__card-img {
    display: block;
    margin: 0 auto;
  }

  &__wrapperRight {
    @include flex(column, space-between, center);
    gap: 40px;
  }

  &__card-contentWrapper {
    width: 370px;
  }
}
