@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: $bgMain;
  font-family: "Golos Text", sans-serif;
}

//HEADER
.header {
  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0px 17px 24px 0px rgba(50, 52, 56, 0.04);
  backdrop-filter: blur(20px);
  display: block;
  margin: 40px auto 0 auto;
  width: 900px;
  height: auto;
  border-radius: 100px;
  padding: 16px 20px;

  &__menu {
    @include flex(row, space-between, center);
  }

  &__select {
    display: block;
    width: 170px;
    height: 48px;
    padding: 8px 12px;
    background-color: $bgWhite;
    border-radius: 100px;
    border: none;
  }

  &__select-elem {
    @include p1;
  }
}

//HERO
.hero {
  margin-top: 60px;

  &__container {
    @include container($extraLarge);
  }

  &__wrapper {
    @include flex(row, space-between, center);
  }

  &__img-wrapper {
    max-width: 340px;
    max-height: 580px;
  }

  &__imgLeft,
  &__imgRight {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 4;
  }

  &__content {
    max-width: 870px;
    height: auto;
    @include flex(column, space-between, center);
    gap: 32px;
    z-index: 8;
  }

  &__title-h1 {
    @include h1;
  }

  &__subtitle {
    max-width: 500px;
    @include p2;
  }

  &__btn {
    @include primary-btn;
  }
}

// ADVANTAGE
.advantage {
  margin-top: 130px;

  &__container {
    @include container($extraLarge);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 590px);
    grid-template-rows: repeat(2, 620px);
    gap: 32px;
  }

  &__cards {
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 32px;
    background: $bgWhite;
    position: relative;
    @include flex(column, space-between, center);
  }

  &__cards-title-wrapper {
    display: block;
    width: 100%;
  }

  &__cards-title {
    @include font(56px, 700, 100%, $textBlack);
  }

  &__cards-img-wrapper {
    max-width: 320xp;
    position: absolute;
    bottom: 0;
    right: 0;

    &:first-child {
      position: relative;
    }
  }

  &__cards-img {
    width: 100%;
    height: auto;
  }

  &__course {
    background: $bgBrand;
  }

  &__course-title {
    @include font(70px, 700, 100%, $textWhite);
  }
}
